<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link"  routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/contact" routerLinkActive="active">contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/topics" routerLinkActive="active">Topics</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0" *ngIf="!toggleNav">
              <app-login (loggedIn)="OnloggedIn($event)"></app-login>
              <!-- <button class="btn btn-outline-warning my-2 my-sm-0" (click)="login()">Sign In</button> -->
              <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          </div>
          <div class="form-inline my-2 my-lg-0" *ngIf="toggleNav">
             <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            <div class="dropdown signedIn">
                <a href="javascript:void(0);" (click)="showDropdown=!showDropdown">
                     <img [src]="user.photoUrl" with="30" height="30" />
                </a>
                <div class="dropdown-menu" *ngIf="showDropdown" (mouseleave)="showDropdown=!showDropdown">
                  <a class="dropdown-item" routerLink="/profile">Profile</a>
                  <a class="dropdown-item" routerLink="/cart">Cart</a>
                  <a class="dropdown-item" routerLink="/orders">Orders</a>
                  <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Sign Out</a>
                </div>
              </div>
          </div>
        </div>
      </nav>